.tweet {
    padding:12px 0px;
    max-width: 500px;
    position: relative;
}
.tweet:before {
    content: '';
    height: 5px;
    width: 150px;
    background: linear-gradient(to left,rgb(59 169 238),rgb(59 169 238 / 0%));
    position: absolute;
    right: 14px;
}
.tweet h1 {
    margin-bottom: 0;
    position: relative;
    line-height: 32px;
    margin-left: 0px;
    margin-top: 12px;
}
.tweet h1 span {
    position:absolute;
    left:-12px;
    top:-3px;
}
.tweet a {
    text-decoration: none;
    color:rgb(59, 169, 238);
    font-weight: 700;
}
.tweet svg {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    right: 2px;
}
.tweet p{
    text-align: right;
    margin-right:24px;
}
.tweet a:hover {
    color: #1168a0;
}
.tweet a:hover svg path {
    fill: #1168a0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}